@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins&family=Raleway:wght@300;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply light-mode dark:dark-mode select-none;
    
  }
  input {
    @apply w-full py-3 outline-none px-5 rounded-full 
    text-black dark:text-white bg-[rgb(244,246,248)] dark:bg-[#282C34]
    text-2xl font-medium
  }
  .social-link>a{
    @apply mx-3 md:mx-5 md:hover:opacity-70
  }
}

@layer components {
  .dark-mode {
    @apply bg-[rgb(13,17,23)] text-slate-300;
  }
  .light-mode {
    @apply bg-[rgb(255,255,255)] text-black;
  }
  .num-pad {
    @apply max-sm:w-screen max-sm:absolute max-sm:bottom-0 max-sm:left-0 max-sm:h-[70%]
  }
  .num-pad > tr > td {
    @apply p-[30px] text-center transform duration-100 
    active:scale-150 cursor-pointer text-4xl font-bold
    
  }
  .dropHistory {
    @apply w-full h-full rounded-none top-0 z-10
  }
}
